/* esta es mi archivo de estilos */
		body{
			/*background-color: #004080;*/
			background-size:cover;
			background-repeat: no-repeat;
			background-image: url("tapiz1.jpg");
			color: navajowhite;
		}
		header{
			background-color: #0073e6;
			border: 5px outset  #ffff1a;
		}
		h1{
			text-align: center;
			font-family: times new roman;
		}
		a:link{
			color: antiquewhite ;
		}
		a:visited{
			background-color:  #e6f2ff;
			color:yellowgreen ;

		}
		a:hover{
			background-color:  #e6f2ff;

		}
		a:active{
			color: indianred;
		}
